<h1>Add new products to sell on our site</h1>
<%= form_tag "/you_added", method: :post do %>
  <div>
    <div>Product Name:</div>
    <input type="text" name="name"><br>
    <div>Product Price:</div>
    <input type="text" name="price"><br>
    <div>Product Image:</div>
    <input type="text" name="image"><br>
    <div>Product Description:</div>
    <input type="text" name="description"><br>
  </div>

  <div>
    <input type="submit" value="Submit Product!">
  </div>
<% end %>
