<h1 class = "text-center">All Products Page</h1>
<% @all_products.each do |product| %>
<p>First Name: <%= product.name %><br>
Price: <%= product.price %><br>
Image: <a href="<%= product.image %>">Click Here for Image</a><br>
Description: <%= product.description %>
<% end %>

