<h1>Thank you for adding a prodcut</h1>
<p>You added the following product:</p>
Name: <%= @product.name %>
Price: <%= @product.price %>
Image: <%= @product.image %>">
Description: <%= @product.description %>